<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1045894616652-o4poc1hrkmgur4ld0805tn770jnd31bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045894616652-o4poc1hrkmgur4ld0805tn770jnd31bc</string>
	<key>API_KEY</key>
	<string>AIzaSyBm-cVQC3DAhtjuUJoxeWBQXVDOpdqIfgE</string>
	<key>GCM_SENDER_ID</key>
	<string>1045894616652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SiS.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-50f74</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-50f74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045894616652:ios:8815109f403099f3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-50f74.firebaseio.com</string>
</dict>
</plist>