<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>660632776262-70cb07aram92arfss8ufahustf01c2cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660632776262-70cb07aram92arfss8ufahustf01c2cf</string>
	<key>API_KEY</key>
	<string>AIzaSyAvVAV0TTuP2pmvsBFdGds4O70o4LtkIoA</string>
	<key>GCM_SENDER_ID</key>
	<string>660632776262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SiS.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-test-be704</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-be704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660632776262:ios:8815109f403099f3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-be704.firebaseio.com</string>
</dict>
</plist>